
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.head-nav .lists .el-popover{
    top: 55px;
} 
.main-content .el-carousel__button{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  background: #000;
  z-index: 999 !important;
}
 .pages .el-pagination.is-background .el-pager li{
  background: none;
}
.pages .el-pagination.is-background .el-pager li:not(.disabled).active {
   background-color: #ffdf1f;;
   color: #333;
   width: 42px;
   height: 42px;
   text-align: center;
   line-height: 42px;
   margin-top: -10px;
}
.pages .el-pagination.is-background .btn-next{
    background: none;
}
 .pages .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #333;
}

.music-play .play .el-slider__runway{
    width: 370px;
    height: 3px !important;
    position: relative;
}
.music-play .play .el-slider__bar{
    height: 3px !important;
    background-color: #ffdf1f !important;
}
.music-play .icons .el-slider__runway{
    width: 86px !important;
    height: 3px !important;
}
.music-play .icons .el-slider__bar{
    height: 3px !important;
    background-color: #ffdf1f !important;
}
.el-slider__button{
    width: 10px;
    height: 10px;
    border: 2px solid #ffdf1f;
    position: absolute;
    top: 11px;
}
